/**
 * Awesome icon theme for ovidentia.
 * Based on the Font Awesome ( Font Awesome by Dave Gandy - http://fontawesome.io )
 * @license http://opensource.org/licenses/gpl-license.php GNU General Public License (GPL)
 * @copyright Copyright (c) 2008 by CANTICO ({@link http://www.cantico.fr})
 */


@font-face {
  font-family: 'FontAwesome';
  
  src: url('fonts/forkawesome-webfont.eot?v=1.1.5');
  src: url('fonts/forkawesome-webfont.eot?#iefix&v=1.1.5') format('embedded-opentype'), url('fonts/forkawesome-webfont.woff2?v=1.1.5') format('woff2'), url('fonts/forkawesome-webfont.woff?v=1.1.5') format('woff'), url('fonts/forkawesome-webfont.ttf?v=1.1.5') format('truetype'), url('fonts/forkawesome-webfont.svg?v=1.1.5#forkawesomeregular') format('svg');

  font-weight: normal;
  font-style: normal;
}
