/**
 * Awesome icon theme for ovidentia.
 * Based on the Font Awesome ( Font Awesome by Dave Gandy - http://fontawesome.io )
 * @license http://opensource.org/licenses/gpl-license.php GNU General Public License (GPL)
 * @copyright Copyright (c) 2008 by CANTICO ({@link http://www.cantico.fr})
 */


@font-face {
  font-family: 'FontAwesome';

/*  
  src: url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
*/
  src: url('//cdn.jsdelivr.net/npm/fork-awesome@1.1.5/fonts/forkawesome-webfont.eot?v=1.1.5');
  src: url('//cdn.jsdelivr.net/npm/fork-awesome@1.1.5/fonts/forkawesome-webfont.eot?#iefix&v=1.1.5') format('embedded-opentype'), url('//cdn.jsdelivr.net/npm/fork-awesome@1.1.5/fonts/forkawesome-webfont.woff2?v=1.1.5') format('woff2'), url('//cdn.jsdelivr.net/npm/fork-awesome@1.1.5/fonts/forkawesome-webfont.woff?v=1.1.5') format('woff'), url('//cdn.jsdelivr.net/npm/fork-awesome@1.1.5/fonts/forkawesome-webfont.ttf?v=1.1.5') format('truetype'), url('//cdn.jsdelivr.net/npm/fork-awesome@1.1.5/fonts/forkawesome-webfont.svg?v=1.1.5#forkawesomeregular') format('svg');


  font-weight: normal;
  font-style: normal;
}
